# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables & Secrets
.env
.env.local
.env.development
.env.test
.env.production
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.sqlite
*.sqlite3
*.db
backend-node/data/*.db

# Logs
logs/
*.log
backend-node/*.log
ml-model-python/*.log

# IDEs and Editor dirs
.vscode/
.idea/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db
